.card
{
    margin-top: 50px;
    border: 1px solid #000;
    padding: 10px;
     width:35% ;
     text-align: center;

}
.card p 
{
    font-size: 18px;
}
.card img{
       width:45% ;
}

.wrap
{
   display: flex;
    justify-content: center;
    align-items: center;
}
